/* latin */
@font-face {
	font-family: 'DS Digital';
	font-style: normal;
	font-weight: 400;
	src: url(DS-DIGI.TTF);
}

@font-face {
	font-family: 'DS Digital Bold';
	font-style: normal;
	font-weight: 600;
	src: url(fonts/DS-DIGIB.TTF);
}