body {
	display: flex;
	justify-content: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 100%;

}

.calculator {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 30px;
	background-color: cornflowerblue;
	width: 400px;
	height: 500px;
	border-radius: 30px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.line:first-child {
	width: 100%;
	justify-content: center;
	height: 20%;
	display: flex;
	justify-content: center;
}

.line {
    display: flex;
    justify-content: space-evenly;
    height: 12%;
    align-items: center;
}

.display {
    background: #333;
    background: radial-gradient(circle, #444 0%, #222 100%);
    border: 3px solid #222;
    height: 40px;
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    color: turquoise;
    font-family: 'DS Digital';
    font-size: 60px;
}

.btn {
    font-family: 'Orbitron', sans-serif;
    height: 80%;
    width: 15%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

.btn:focus{ 
    box-shadow: none;
    outline: none; 
} 

.numbers {
    background-color: black;
}

.on {
    background-color: green;
}

.off {
    background-color: red;
}

.clear {
    background-color: blue;
}

.operations {
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.equal {
    background-color: orange;
}

#op-sub.operations,
#op-add.operations  {
    font-size: 26px;
}
